

body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* Navbar */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* Footer*/
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-social i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info-links, 
.f-info-social, 
.f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info{
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    justify-content: center;
    flex-wrap: wrap;
    align-items: space-evenly;
    text-align: center;
    
}   

/* Cards */

.listing-card{
    border: none !important;
    margin-bottom: 2rem
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body
{
    padding: 0 !important;
}

.card-text{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* Overlay*/
.card-img-overlay{
    opacity: 0;
   
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;    
}

/* New page*/

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* edit page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* map */

#map {
    height: 400px;
    width: 80vh;
}

/* Navebar style */
.search-btn{
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover{
    background-color: #fe424d;
    color: white;
  }
  .search-btn i{
    display: inline;
    margin-right: 0.5rem;
  }
  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 2rem 0.5rem 2rem;
  }

  /* index top */
  #filters{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        overflow: auto;
        white-space: nowrap;       
    }
    .filter{
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
        display: inline-block; 
    }
    .filter:hover{
        opacity: 1;
        cursor: pointer;
    }
    .filter p{
        font-size: 0.8rem;
    }
    .tax-info{
        display: none;
    }
    .tax-toggle{
        border: 1px solid black;
        border-radius: 1rem;
        height: 2rem;
        padding: 0.8rem;
        display: flex;
        align-items: center;
        right: 0;
    }