<% layout('/layouts/boilerplate.ejs') -%>

<div class="row mt-3">
    <div class="col-6 offset-3">
        <h1>SignUp on Wanderlust</h1>
        <form method="POST" action="/signup" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" placeholder="Enter username" class="form-control" required>
                <div class="valid-feedback">Looks good</div>
                <div class="invalid-feedback">Inccorect username</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" placeholder="Enter email" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" placeholder="Enter password" class="form-control" required>
            </div>
            <button class="btn btn-success">SignUp</button>
        </form>
    </div>
</div>